.spacer {
    margin-bottom: 10px;
}
.spacer-sm {
    margin-bottom: 20px;
}
.spacer-md {
    margin-bottom: 30px;
}
.btn-default {
    background: #0a1612 !important;
    border-radius: 5px !important;
    color: #fff !important;
}
.breaker {
    border-bottom: 1px solid #0a1612;
}